<h1>Search OMDB</h1>
<%= form_tag(search_index_path, :method => "get",
      id: "search-form", name: "title", enforce_utf8: true) do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "Title",
        class: "form-control", name: "search", required: true %>
    <div class="input-group-btn">
      <button class="btn btn-secondary">
        <span>Search OMDB</span>
      </button>
    </div>
  </div>
<% end %>


