<main role="main">
  <body>
    <div class="container-fluid bg-white">
      <div class="container-fluid bg-white">
        <div class="row special">
          <div class="col-12 col-md-3"><%= image_tag "award1.jpg", class: "img-responsive" %></div>
          <div class="col-12 col-md-5"></div>
          <div class="col-12 col-md-3 my-auto text-center">
            <h1 class="display-5">Welcome to the Shoppies!</h1>
            <h4 class="text-success">Nominate Your Favorite Movies</h4>
            <a class="btn btn-dark btn-lg" href="../../search/index" role="button">Search OMDB &raquo;</a>
          </div>
        </div>
        <div class="row info">
          <div class="col-12 col-md-4">
            <h2>Project Specification</h2>
            <p class="font-weight-bold text-dark">
            I built this site for the Shopify Web Developer Intern Challenge.
            Details about the requirements can be found at the link below.
            </p>
            <p><a class="btn btn-secondary text-right" href="https://docs.google.com/document/d/1AZO0BZwn1Aogj4f3PDNe1mhq8pKsXZxtrG--EIbP_-w/edit#heading=h.v5qbt6acwgbo" role="button" target="_blank">See Specification Doc &raquo;</a></p>
          </div>
          <div class="col-12 col-md-4">
            <h2>My Story</h2>
            <p class="font-weight-bold text-dark">
              I'm currently a Software Engineer Fellow at Qwasar Silicon Valley.
              View my portfolio to learn a little more about me and the projects I've completed.
            </p>
            <p><a class="btn btn-secondary text-right" href="https://www.adrosenfeld.com/" role="button" target="_blank">Visit Portfolio Site &raquo;</a></p>
          </div>
          <div class="col-12 col-md-4">
            <h2>Code</h2>
            <p class="font-weight-bold text-dark">
              See the code for this app on GitHub.
            </p>
            <p><a class="btn btn-secondary text-right" href="https://github.com/arosenfeld2003/shoppies" role="button" target="_blank">Code &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</main>
