<% if @movie_list %>
  <% @movie_list.each_with_index do |hash, i| %>
    <div>
      <% if @movie_list[i]["Poster"] != "N/A" %>
        <%= image_tag(@movie_list[i]["Poster"], style: 'height:25%;width:auto;') %>
      <% end %>
      <%= @movie_list[i]["Title"] %>
      <%= button_to('Nominate', nominated_nominate_path(@movie_list[i]["Title"]), :method => "get", required: true )%>
    <div>
  <% end %>
<% else %>
  <h3>No Matching Movies Found</h3>
  <%= button_to "Search Again", search_index_path, method: :get %>
<% end %>