/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_bootstrap
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap.scss";

body {
  padding-top: 60px;
  padding-bottom: 90px;
}

.sticky-footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: -60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer {
  text-align: center;
}

.bgimage {
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('retro-full-screen.jpg');
}

.trophy {
  background: url('award1.jpg');
}

.bgmovies {
  background-color: rgb(200, 181, 156);
}

.full-capacity {
  max-width: 200px;
  max-height: 60px;
}

.nominations{
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('movies2.jpg');
}

.bg {
  /* The image used */
  background-image: url("croppedCurtains.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nom {
  padding-top: 30px;
  padding-bottom: 30px;
}